target
test-output
.gradle
.project
.settings
.classpath
.springBeans
.metadata
.DS_Store
*.iml
**/src/generated/*
*.log
resourceVersions.properties
out/
build/
Servers/
*~
application-*.properties
.idea/*
!.idea/runConfigurations
dump.rdb
node_modules
web/src/main/typings
common/src/test/resources/test.properties
**/package-lock.json
